@model SirfDealsMvc4.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Product</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageUrl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CouponCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CouponCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AffiliateLink)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AffiliateLink)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExpiryDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExpiryDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CategoryId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PostedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Website)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Website)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Clicks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Clicks)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PercentageOff)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PercentageOff)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
